data/?

data/.fabric

data/config/InvSync.mcfg
data/config/banhammer/config.json
data/config/luckperms
data/config/plan
data/config/spark
data/config/ledger.toml
data/config/mcdiscordchat*.json
data/config/PlasmoVoice/server_data.json
data/config/FabricProxy-Lite.toml

data/libraries

data/logs
data/crash-reports

data/mods/luckperms

data/world/*
!data/world/serverconfig
!data/world/carpet*.conf

*.db
*.sqlite

server.properties

banned-ips.json
banned-players.json
ipcache.json
ops.json
usercache.json
whitelist.json