data/?

data/.fabric/*
!data/.fabric/server

data/config/InvSync.mcfg
data/config/banhammer/config.json
data/config/luckperms
data/config/plan
data/config/spark
data/config/ledger.toml
data/config/chunky.json
data/config/mcdiscordchat*.json
data/config/PlasmoVoice/server_data.json
data/config/FabricProxy-Lite.toml
data/config/journeymap-server.json

data/journeymap

data/logs
data/crash-reports

data/mods
data/versions

data/world/*
!data/world/serverconfig
!data/world/carpet*.conf

*.db
*.sqlite

data/server.properties
data/eula.txt
data/banned-ips.json
data/banned-players.json
data/ipcache.json
data/ops.json
data/usercache.json
data/whitelist.json

data/fabric-server-*
data/server.jar
data/ServerWrapperConfig.json